@import "tailwindcss";

:root {
  --color-001: hsl(0, 0%, 100%);
  --color-002: hsl(180, 100%, 3%);
  --color-003: hsl(73, 46%, 32%);
  --color-004: hsl(35, 9.1%, 98%);
  --color-005: hsl(211, 78%, 64%);
  --color-006: hsl(187, 81%, 15%);
  --color-007: hsl(3, 5.3%, 44.7%);
  --color-008: hsl(22, 59%, 33%);
  --color-009: hsl(350, 5.9%, 90%);
  --color-010: hsl(73, 46%, 32%);
  --color-011: hsl(222, 47.4%, 11.2%);
  --color-012: hsl(2, 5.4%, 63.9%);
  --color-013: hsl(348, 61%, 33%);

  --theme-color-background: var(--color-001);
  --theme-color-foreground: var(--color-002);

  --theme-color-card: var(--color-001);
  --theme-color-card-foreground: var(--color-002);

  --theme-color-popover: var(--color-001);
  --theme-color-popover-foreground: var(--color-002);

  --theme-color-primary: var(--color-003);
  --theme-color-primary-foreground: var(--color-004);

  --theme-color-secondary: var(--color-005);
  --theme-color-secondary-foreground: var(--color-006);

  --theme-color-muted: var(--color-005);
  --theme-color-muted-foreground: var(--color-007);

  --theme-color-accent: var(--color-005);
  --theme-color-accent-foreground: var(--color-006);

  --theme-color-destructive: var(--color-008);
  --theme-color-destructive-foreground: var(--color-004);

  --theme-color-border: var(--color-009);
  --theme-color-input: var(--color-009);
  --theme-color-ring: var(--color-003);

  scroll-behavior: smooth;
}

[data-theme="dark"] {
  --theme-color-background: var(--color-002);
  --theme-color-foreground: var(--color-004);

  --theme-color-card: var(--color-002);
  --theme-color-card-foreground: var(--color-004);

  --theme-color-popover: var(--color-002);
  --theme-color-popover-foreground: var(--color-004);

  --theme-color-primary: var(--color-010);
  --theme-color-primary-foreground: var(--color-004);

  --theme-color-secondary: var(--color-011);
  --theme-color-secondary-foreground: var(--color-004);

  --theme-color-muted: var(--color-011);
  --theme-color-muted-foreground: var(--color-012);

  --theme-color-accent: var(--color-011);
  --theme-color-accent-foreground: var(--color-004);

  --theme-color-destructive: var(--color-013);
  --theme-color-destructive-foreground: var(--color-004);

  --theme-color-border: var(--color-011);
  --theme-color-input: var(--color-011);
  --theme-color-ring: var(--color-010);
}

@theme {
  --color-background: var(--theme-color-background);
  --color-foreground: var(--theme-color-foreground);

  --color-card: var(--theme-color-card);
  --color-card-foreground: var(--theme-color-foreground);

  --color-popover: var(--theme-color-popover);
  --color-popover-foreground: var(--theme-color-popover-foreground);

  --color-primary: var(--theme-color-primary);
  --color-primary-foreground: var(--theme-color-primary-foreground);

  --color-secondary: var(--theme-color-secondary);
  --color-secondary-foreground: var(--theme-color-secondary-foreground);

  --color-muted: var(--theme-color-muted);
  --color-muted-foreground: var(--theme-color-muted-foreground);

  --color-accent: var(--theme-color-accent);
  --color-accent-foreground: var(--theme-color-accent-foreground);

  --color-destructive: var(--theme-color-destructive);
  --color-destructive-foreground: var(--theme-color-destructive-foreground);

  --color-border: var(--theme-color-border);
  --color-input: var(--theme-color-input);
  --color-ring: var(--theme-color-ring);

  --border-radius-lg: 0.1rem;
  --border-radius-md: calc(var(--border-radius-lg) - 2px);
  --border-radius-sm: calc(var(--border-radius-md) - 2px);
}

@layer base {
  * {
    @apply border-border;
  }

  :root {
    @apply transition-all;
  }

  body {
    @apply text-foreground bg-background transition-all;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .container {
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
  }
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
